body {
  background: transparent url(../images/bg.jpg) 0 0 repeat;
  font-family: 'PT Sans', sans-serif !important; }

a {
  outline: none !important; }

.hidden-mobile {
  display: none; }

.visible-desktop {
  display: none; }

.visible-mobile {
  display: block; }

.hidden-desktop {
  display: block !important; }

#top {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #DDD;
  background-color: #FFF;
  display: block;
  position: relative; }
  #top h1 {
    width: 100%;
    display: block;
    margin: 0;
    float: left;
    text-align: center;
    color: #00A2CC; }
    #top h1 span {
      color: #DDD;
      font-size: 16px; }
  #top a.menu {
    position: absolute;
    color: #02A3C6;
    text-decoration: none;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 4px 20px; }

#login {
  width: 300px;
  position: relative;
  left: 50%;
  top: 100px;
  margin-left: -150px; }
  #login .user,
  #login .pass,
  #login .button {
    padding: 5%;
    width: 90%;
    border: none;
    border: 1px solid #DDD;
    color: #999;
    border-bottom: none; }
  #login .user.error {
    border-bottom: none !important; }
  #login .button {
    width: 302px;
    padding: 13px 0;
    background-color: #00A2CC;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #00A2CC;
    border-bottom: 1px solid #00A2CC; }

#list {
  background-color: #FFF;
  display: block;
  position: relative; }
  #list ul li {
    padding: 20px;
    border-bottom: 1px solid #DDD;
    border-left: 5px solid #FFF;
    position: relative; }
    #list ul li:hover, #list ul li.selected {
      background: transparent url(../images/bg.jpg) 0 0 repeat; }
    #list ul li.publish {
      border-left: 5px solid #02a3c6; }
      #list ul li.publish .info .obs {
        color: #02a3c6; }
    #list ul li.incomplete {
      border-left: 5px solid #c46a03; }
      #list ul li.incomplete .info .obs {
        color: #c46a03; }
    #list ul li a.overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute; }
    #list ul li .image {
      width: 50px;
      height: 75px;
      background-color: #CCC;
      float: left;
      border: 1px solid #CCC; }
    #list ul li .info {
      float: left;
      margin-left: 10px;
      max-width: 80%; }
      #list ul li .info p {
        margin: 0; }
        #list ul li .info p.ttl {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px; }
        #list ul li .info p.subttl {
          color: #999;
          font-size: 13px; }
      #list ul li .info .obs {
        font-size: 11px;
        text-transform: uppercase;
        margin-top: 4px; }
    #list ul li span.loading {
      top: 90px;
      right: 10px; }
  #list span.loading {
    left: 50%;
    margin-left: -8px;
    position: absolute; }
    #list span.loading.top {
      top: 5px; }
    #list span.loading.bottom {
      bottom: 5px; }
  #list a.load-more {
    text-align: center;
    background-color: #00A2CC;
    color: #FFF;
    text-decoration: none;
    padding: 10px 0;
    text-transform: uppercase; }
    #list a.load-more.loading {
      padding: 25px;
      background: #00a2cc url(../images/ajax-loader-2.gif) no-repeat center center; }

@media only screen and (min-width: 768px) {
  .hidden-mobile {
    display: block; }

  .visible-mobile {
    display: none; }

  #top {
    width: 98%;
    position: fixed;
    z-index: 99;
    padding: 0 1%; }
    #top h1 {
      width: auto;
      margin: 0;
      float: left; }
    #top ul {
      margin: 0px 0 0 55px;
      float: left; }
      #top ul li {
        float: left;
        margin-left: 10px; }
        #top ul li a {
          display: block;
          color: #666;
          padding: 15px 10px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px; }
          #top ul li a:hover, #top ul li a.active {
            border-bottom: 3px solid #42B8DD; }
          #top ul li a.active {
            font-weight: bold; }
    #top .user {
      width: 170px;
      float: right;
      padding: 8px 10px;
      position: relative; }
      #top .user a.overlay {
        width: 120px;
        height: 50px;
        top: 0;
        left: 0;
        position: absolute; }
      #top .user .info {
        float: left;
        text-align: right;
        margin-right: 10px; }
        #top .user .info p, #top .user .info span {
          font-size: 13px;
          margin: 0;
          color: #00A2CC;
          line-height: 11px; }
        #top .user .info span {
          font-size: 12px;
          color: #999;
          text-transform: uppercase; }
      #top .user .image {
        float: left;
        width: 30px;
        height: 30px;
        background-color: #DDD; }
      #top .user .logout {
        float: left;
        margin-left: 5px; }
        #top .user .logout a {
          display: block;
          padding: 5px 10px;
          color: #333;
          text-decoration: none;
          text-align: center;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 20px;
          background-position: -302px 9px;
          width: 15px;
          height: 20px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
          #top .user .logout a:hover {
            background-color: #67cce5; }

  #nav {
    position: fixed;
    width: 200px;
    background-color: #191818;
    height: 100%;
    margin-top: 50px;
    left: -200px;
    z-index: 99;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-ou;
    transition-property: left; }
    #nav.on {
      left: 0px;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-ou;
      transition-property: left; }
    #nav a.alternate {
      position: absolute;
      right: -50px;
      background-color: #191818;
      color: #FFF;
      text-decoration: none;
      padding: 10px 20px; }
    #nav ul {
      margin: 30px 0 0 20px; }
      #nav ul li {
        margin-bottom: 5px; }
        #nav ul li.interval {
          height: 20px; }
        #nav ul li a.default {
          padding: 10px;
          display: block;
          color: #FFF;
          text-decoration: none; }
          #nav ul li a.default:hover, #nav ul li a.default.active {
            background-color: #333; }
        #nav ul li input.text {
          font-size: 13px;
          padding: 7px 3px;
          width: 134px;
          margin-bottom: 5px;
          color: #666; }
        #nav ul li label {
          color: #487197;
          text-transform: uppercase; }
        #nav ul li ul {
          margin: 10px 0 0 10px; }
          #nav ul li ul li label {
            color: #F2F2F2;
            font-size: 11px; }

  #list {
    margin: 50px 0 0 0px; }

  #content.tablet {
    background: transparent url(../images/bg.jpg) 0 0 repeat;
    position: absolute;
    left: 2000px;
    top: 51px;
    box-shadow: 5px 5px 15px #333;
    -webkit-box-shadow: 5px 5px 15px #333;
    -moz-box-shadow: 5px 5px 15px #333;
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: ease-in-ou;
    transition-property: left, opacity; }
    #content.tablet.on {
      left: 70px;
      opacity: 1;
      transition-duration: 1s;
      transition-timing-function: ease-in-ou;
      transition-property: left, opacity; }
  #content .header {
    padding: 20px 0 0 20px;
    height: 95px;
    border-bottom: 1px solid #DDD;
    position: relative; }
    #content .header h3 {
      font-size: 2em;
      margin: 0;
      color: #333; }
    #content .header p {
      margin: 0;
      color: #999;
      font-size: 14px; }
      #content .header p span {
        color: #3DAACC; }
      #content .header p i.break {
        display: block; }
    #content .header .buttons {
      position: absolute;
      width: auto;
      right: 20px;
      bottom: 20px; }
      #content .header .buttons button,
      #content .header .buttons input {
        border: 1px solid #DDD;
        background: #FFF;
        padding: 5px 15px;
        color: #666;
        font-size: 14px;
        line-height: 16px; }
        #content .header .buttons button:hover,
        #content .header .buttons input:hover {
          background: #F7F7F7; }
    #content .header .loading {
      left: 50%;
      top: 75%; }
  #content .main {
    position: relative;
    padding: 10px; }
    #content .main fieldset {
      border: none; }
      #content .main fieldset label {
        display: block;
        color: #333; }
      #content .main fieldset input.text {
        width: 96%;
        padding: 12px 2%;
        border: 1px solid #DDD;
        color: #999; }
        #content .main fieldset input.text.medium {
          width: 76%; }
        #content .main fieldset input.text.small {
          width: 14.5%; }
        #content .main fieldset input.text.loading {
          background: white url(../images/ajax-loader.gif) no-repeat 97% 15px; }
      #content .main fieldset textarea {
        border: 1px solid #DDD;
        width: 560px;
        height: 200px;
        padding: 1%;
        color: #999;
        font-size: 14px;
        line-height: 20px; }
      #content .main fieldset select {
        padding: 12px;
        border: 1px solid #DDD;
        color: #999; }
      #content .main fieldset .file {
        width: 96%;
        border: 1px solid #DDD;
        padding: 12px;
        background-color: #fff; }
      #content .main fieldset span.key {
        display: block;
        color: #999;
        margin-left: 2%;
        font-style: italic; }
      #content .main fieldset .col-item {
        width: 580px;
        float: left;
        margin-right: 20px; }
        #content .main fieldset .col-item.small {
          width: 180px; }
        #content .main fieldset .col-item.no-space {
          margin: 0; }
        #content .main fieldset .col-item.single {
          margin-top: 10px; }
        #content .main fieldset .col-item .dropdown {
          top: 64px;
          left: 0;
          position: absolute;
          z-index: 100;
          border: 1px solid #dddddd;
          max-height: 120px;
          overflow: hidden;
          display: none; }
          #content .main fieldset .col-item .dropdown li {
            width: 400px; }
            #content .main fieldset .col-item .dropdown li a {
              display: block;
              background-color: #FFF;
              padding: 10px;
              text-decoration: none;
              color: #000; }
            #content .main fieldset .col-item .dropdown li a:hover, #content .main fieldset .col-item .dropdown li.selected a {
              background-color: #F4F1E8; }
      #content .main fieldset .list-items {
        margin-top: 10px; }
        #content .main fieldset .list-items span {
          color: #3d5d18;
          text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
          border: 1px solid #74b21e;
          background: linear-gradient(to bottom, #b8e76f 0%, #a9e25c 100%) repeat scroll 0% 0% transparent;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
          margin: 0px 5px 5px 0px;
          padding: 1px 24px 1px 5px;
          position: relative;
          float: left;
          display: block; }
          #content .main fieldset .list-items span a {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 17px;
            font-weight: bold;
            color: inherit;
            display: block;
            line-height: 25px;
            border-radius: 0px 2px 2px 0px;
            border-left: 1px solid #74b21e;
            text-decoration: none;
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
            font-size: 15px;
            text-align: center; }
            #content .main fieldset .list-items span a:hover {
              border-left-color: #5e8f1a;
              background: none repeat scroll 0% 0% rgba(50, 90, 0, 0.15); }
      #content .main fieldset.review_status label {
        display: block;
        float: left;
        margin-right: 20px; }
    #content .main .poster-box {
      display: none; } }
@media only screen and (min-width: 1280px) {
  .visible-desktop {
    display: block; }

  .hidden-desktop {
    display: none !important; }

  #nav {
    left: 0; }

  #list {
    width: 400px;
    float: left;
    border-right: 1px solid #DDD;
    overflow-x: scroll;
    margin: 50px 0 0 200px; }

  #content {
    width: 620px;
    display: block;
    float: left;
    margin-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px; }
    #content .header .buttons input.cancel {
      display: none; } }
@media only screen and (min-width: 1515px) {
  #content .header p i.break {
    display: inline; }
  #content .main input.text.small {
    width: 10% !important; }
  #content .main .col-item {
    width: 400px !important;
    position: relative; }
    #content .main .col-item.small {
      width: 254px !important; }
    #content .main .col-item.single {
      margin-top: 0 !important; }
  #content .main textarea {
    width: 778px !important; } }
@media only screen and (min-width: 1800px) {
  #content .main fieldset.file-in-form {
    display: none; }
  #content .main .poster-box {
    padding: 10px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    border: 1px solid #DDD;
    background-color: #FFF;
    text-align: center; }
    #content .main .poster-box img {
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      border-bottom: 1px solid #DDD;
      display: block; } }
.icons {
  background: transparent url(../images/glyphicons-halflings.png) 0 0 no-repeat; }

.pure-button {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }

.pure-button-secondary {
  background-color: #42B8DD;
  color: white; }

.pure-button-warning {
  background: none repeat scroll 0% 0% #df7514;
  color: white; }

span.loading {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: transparent url(../images/ajax-loader.gif) no-repeat; }

input.error,
textarea.error {
  border: 1px solid red !important; }
