body {
	background: transparent url(../images/bg.jpg) 0 0 repeat;
	font-family: 'PT Sans', sans-serif !important;
}

a {
	outline: none !important;
}

// Imports
@import "mixins";

// Default colors
$markerApprove: #02A3C6;
$markerIncomplete: #C46A03;

// Toggle device
.hidden-mobile { display: none; }
.visible-desktop { display: none; }
.visible-mobile { display: block; }
.hidden-desktop { display: block !important; }

#top {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #DDD;
	background-color: #FFF;
	display: block;
	position: relative;

	h1 {
		width: 100%;
		display: block;
		margin: 0;
		float: left;
		text-align: center;
		color: #00A2CC;

		span {
			color: #DDD;
			font-size: 16px;
		}
	}

	a.menu {
		position: absolute;
		color: #02A3C6;
		text-decoration: none;
		top: 0;
		right: 0;
		font-size: 30px;
		padding: 4px 20px;
	}
}

#login {
	width: 300px;
	position: relative;
	left: 50%;
	top: 100px;
	margin-left: -150px;

	.user,
	.pass,
	.button {
		padding: 5%;
		width: 90%;
		border: none;
		border: 1px solid #DDD;
		color: #999;
		border-bottom: none;
	}

	.user {
		&.error {
			border-bottom: none !important;
		}
	}

	.button {
		width: 302px;
		padding: 13px 0;
		background-color: #00A2CC;
		color: #FFF;
		font-weight: bold;
		text-transform: uppercase;
		border: 1px solid #00A2CC;
		border-bottom: 1px solid #00A2CC;
	}
}

#list {
	background-color: #FFF;
	display: block;
	position: relative;

	ul {
		li {
			padding: 20px;
			border-bottom: 1px solid #DDD;
			border-left: 5px solid #FFF;
			position: relative;

			&:hover,
			&.selected {
				background: transparent url(../images/bg.jpg) 0 0 repeat;
			}

			&.publish {
				border-left: 5px solid $markerApprove;

				.info .obs {
					color: $markerApprove;
				}
			}

			&.incomplete {
				border-left: 5px solid $markerIncomplete;

				.info .obs {
					color: $markerIncomplete;
				}
			}

			a.overlay {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				position: absolute;
			}

			.image {
				width: 50px;
				height: 75px;
				background-color: #CCC;
				float: left;
				border: 1px solid #CCC;
			}

			.info {
				float: left;
				margin-left: 10px;
				max-width: 80%;

				p {
					margin: 0;

					&.ttl {
						text-transform: uppercase;
						font-weight: bold;
						font-size: 14px;
					}

					&.subttl {
						color: #999;
						font-size: 13px;
					}
				}

				.obs {
					font-size: 11px;
					text-transform: uppercase;
					margin-top: 4px;
				}
			}

			span.loading {
				top: 90px;
				right: 10px;
			}
		}
	}

	span.loading {
		left: 50%;
		margin-left: -8px;
		position: absolute;
		
		&.top {
			top: 5px;
		}

		&.bottom {
			bottom: 5px;
		}
	}

	a.load-more {
		text-align: center;
		background-color: #00A2CC;
		color: #FFF;
		text-decoration: none;
		padding: 10px 0;
		text-transform: uppercase;

		&.loading {
			padding: 25px;
			background: #00A2CC url(../images/ajax-loader-2.gif) no-repeat center center;
		}
	}
}

// Tablet
@media only screen and (min-width: 768px) {
	// Toggle device
	.hidden-mobile { display: block; }
	.visible-mobile { display: none; }

	#top {
		width: 98%;
		position: fixed;
		z-index: 99;
		padding: 0 1%;

		h1 {
			width: auto;
			margin: 0;
			float: left;
		}

		ul {
			margin: 0px 0 0 55px;
			float: left;

			li {
				float: left;
				margin-left: 10px;

				a {
					display: block;
					color: #666;
					padding: 15px 10px;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 13px;

					&:hover,
					&.active {
						border-bottom: 3px solid #42B8DD;
					}

					&.active {
						font-weight: bold;
					}
				}
			}
		}

		.user {
			width: 170px;
			float: right;
			padding: 8px 10px;
			position: relative;

			a.overlay {
				width: 120px;
				height: 50px;
				top: 0;
				left: 0;
				position: absolute;
			}

			.info {
				float: left;
				text-align: right;
				margin-right: 10px;
				
				p, span {
					font-size: 13px;
					margin: 0;
					color: #00A2CC;
					line-height: 11px;
				}

				span {
					font-size: 12px;
					color: #999;
					text-transform: uppercase;
				}
			}

			.image {
				float: left;
				width: 30px;
				height: 30px;
				background-color: #DDD;
			}

			.logout {
				float: left;
				margin-left: 5px;

				a {
					display: block;
					padding: 5px 10px;
					color: #333;
					text-decoration: none;
					text-align: center;
					text-transform: uppercase;
					font-size: 12px;
					line-height: 20px;
					background-position: -302px 9px;
					width: 15px;
					height: 20px;
					@include radius(3px);

					&:hover {
						background-color: #67cce5;
					}
				}
			}
		}
	}

	#nav {
		position: fixed;
		width: 200px;
		background-color: #191818;
		height: 100%;
		margin-top: 50px;
		left: -200px;
		z-index: 99;
		// default transition
		transition-duration: 0.5s;
		transition-timing-function: ease-in-ou;
		transition-property: left;

		&.on {
			left: 0px;

			transition-duration: 0.5s;
			transition-timing-function: ease-in-ou;
			transition-property: left;
		}

		a.alternate {
			position: absolute;
			right: -50px;
			background-color: #191818;
			color: #FFF;
			text-decoration: none;
			padding: 10px 20px;
		}

		ul {
			margin: 30px 0 0 20px;

			li {
				margin-bottom: 5px;

				&.interval {
					height: 20px;
				}

				a.default {
					padding: 10px;
					display: block;
					color: #FFF;
					text-decoration: none;

					&:hover,
					&.active {
						background-color: #333;
					}
				}

				input.text {
					font-size: 13px;
					padding: 7px 3px;
					width: 134px;
					margin-bottom: 5px;
					color: #666;
				}

				label {
					color: #487197;
					text-transform: uppercase;
				}

				ul {
					margin: 10px 0 0 10px;

					li {
						label {
							color: #F2F2F2;
							font-size: 11px;
						}
					}
				}
			}
		}
	}

	#list {
		margin: 50px 0 0 0px;
	}

	#content {
		&.tablet {
			background: transparent url(../images/bg.jpg) 0 0 repeat;
			position: absolute;
			left: 2000px;
			top: 51px;
			box-shadow: 5px 5px 15px #333;
			-webkit-box-shadow: 5px 5px 15px #333;
			-moz-box-shadow: 5px 5px 15px #333;
			opacity: 0;
			transition-duration: 1s;
			transition-timing-function: ease-in-ou;
			transition-property: left, opacity;

			&.on {
				left: 70px;
				opacity: 1;

				transition-duration: 1s;
				transition-timing-function: ease-in-ou;
				transition-property: left, opacity;
			}
		}

		.header {
			padding: 20px 0 0 20px;
			height: 95px;
			border-bottom: 1px solid #DDD;
			position: relative;

			h3 {
				font-size: 2em;
				margin: 0;
				color: #333;
			}

			p {
				margin: 0;
				color: #999;
				font-size: 14px;

				span {
					color: #3DAACC;
				}

				i.break {
					display: block;
				}
			}

			.buttons {
				position: absolute;
				width: auto;
				right: 20px;
				bottom: 20px;

				button,
				input {
					border: 1px solid #DDD;
					background: #FFF;
					padding: 5px 15px;
					color: #666;
					font-size: 14px;
					line-height: 16px;

					&:hover {
						background: #F7F7F7;
					}
				}
			}

			.loading {
				left: 50%;
				top: 75%;
			}
		}

		.main {
			position: relative;
			padding: 10px;

			fieldset {
				border: none;

				label {
					display: block;
					color: #333;
				}

				input.text {
					width: 96%;
					padding: 12px 2%;
					border: 1px solid #DDD;
					color: #999;

					&.medium {
						width: 76%;
					}

					&.small {
						width: 14.5%;
					}

					&.loading {
						background: #FFF url(../images/ajax-loader.gif) no-repeat 97% 15px;
					}
				}

				textarea {
					border: 1px solid #DDD;
					width: 560px;
					height: 200px;
					padding: 1%;
					color: #999;
					font-size: 14px;
					line-height: 20px;
				}

				select {
					padding: 12px;
					border: 1px solid #DDD;
					color: #999;
				}

				.file {
					width: 96%;
					border: 1px solid #DDD;
					padding: 12px;
					background-color: #fff;
				}

				span.key {
					display: block;
					color: #999;
					margin-left: 2%;
					font-style: italic;
				}

				.col-item {
					width: 580px;
					float: left;
					margin-right: 20px;

					&.small {
						width: 180px;
					}

					&.no-space {
						margin: 0;
					}

					&.single {
						margin-top: 10px;
					}

					.dropdown {
						top: 64px;
						left: 0;
						position: absolute;
						z-index: 100;
						border: 1px solid rgb(221, 221, 221);
						max-height: 120px;
						overflow: hidden;
						display: none;

						li {
							width: 400px;

							a {
								display: block;
								background-color: #FFF;
								padding: 10px;
								text-decoration: none;
								color: #000;
							}

							a:hover,
							&.selected a {
								background-color: #F4F1E8;
							}
						}
					}
				}

				.list-items {
					margin-top: 10px;

					span {
						color: rgb(61, 93, 24);
						text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
						border: 1px solid rgb(116, 178, 30);
						background: linear-gradient(to bottom, rgb(184, 231, 111) 0%, rgb(169, 226, 92) 100%) repeat scroll 0% 0% transparent;
						box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
						margin: 0px 5px 5px 0px;
						padding: 1px 24px 1px 5px;
						position: relative;
						float: left;
						display: block;

						a {
							position: absolute;
							top: 0px;
							right: 0px;
							width: 17px;
							font-weight: bold;
							color: inherit;
							display: block;
							line-height: 25px;
							border-radius: 0px 2px 2px 0px;
							border-left: 1px solid rgb(116, 178, 30);
							text-decoration: none;
							text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
							font-size: 15px;
							text-align: center;

							&:hover  {
								border-left-color: rgb(94, 143, 26);
								background: none repeat scroll 0% 0% rgba(50, 90, 0, 0.15);
							}
						}
					}
				}

				&.review_status {
					label {
						display: block;
						float: left;
						margin-right: 20px;
					}
				}
			}

			.poster-box {
				display: none;
			}
		}
	}
}

// Desktop
@media only screen and (min-width: 1280px) {
	.visible-desktop { display: block; }
	.hidden-desktop { display: none !important; }

	#nav {
		left: 0;
	}

	#list {
		width: 400px;
		float: left;
		border-right: 1px solid #DDD;
		overflow-x: scroll;
		margin: 50px 0 0 200px;
	}

	#content {
		width: 620px;
		display: block;
		float: left;
		margin-top: 50px;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 400px;

		.header .buttons input.cancel {
			display: none;
		}
	}
}

@media only screen and (min-width: 1515px) {
	#content {
		.header {
			p {
				i.break {
					display: inline;
				}
			}
		}

		.main {
			input.text {
				&.small {
					width: 10% !important;
				}
			}

			.col-item {
				width: 400px !important;
				position: relative;

				&.small {
					width: 254px !important;
				}

				&.single {
					margin-top: 0 !important;
				}
			}

			textarea {
				width: 778px !important;
			}
		}
	}
}

@media only screen and (min-width: 1800px) {
	#content {
		.main {
			fieldset {
				&.file-in-form {
					display: none;
				}
			}

			.poster-box {
				padding: 10px;
				display: block;
				position: absolute;
				top: 20px;
				right: 20px;
				width: 200px;
				border: 1px solid #DDD;
				background-color: #FFF;
				text-align: center;

				img {
					padding: 0 0 10px 0;
					margin: 0 0 10px 0;
					border-bottom: 1px solid #DDD;
					display: block;
				}
			}
		}
	}
}

// Helper
.icons {
	background: transparent url(../images/glyphicons-halflings.png) 0 0 no-repeat;
}

.pure-button {
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-secondary {
	background-color: #42B8DD;
	color: white;	
}

.pure-button-warning {
	background: none repeat scroll 0% 0% rgb(223, 117, 20);
	color: white;
}

span.loading {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	background: transparent url(../images/ajax-loader.gif) no-repeat;
}

input.error,
textarea.error {
	border: 1px solid red !important;
}