@mixin radiusOnLeft($border) {
	-webkit-border-top-left-radius: $border;
	-webkit-border-bottom-left-radius: $border;
	-moz-border-radius-topleft: $border;
	-moz-border-radius-bottomleft: $border;
	border-top-left-radius: $border;
	border-bottom-left-radius: $border;
}
@mixin radius($border) {
	-webkit-border-radius: $border;
	-moz-border-radius: $border;
	border-radius: $border;
}